@{
    ViewBag.Title = "Main";
}

<div class="jumbotron">
    <h2 class="text-center">Boardgames List</h2>

    <input type="button" value="Add new game" style="margin-bottom:1%" onclick="@("window.location.href='" + @Url.Action("AddNewGame", "Home") + "'");" />

    <table id="boardgameList" class="table table-striped table-bordered dt-responsive nowrap">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        $('#boardgameList').DataTable({
            colReorder: true,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "order": [[1, "asc"]],
            "ajax": {
                "url": '@Url.Action("LoadData","Home")',
                "type": "POST"
            },
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            "columns": [
                { "data": "ID", "name": "ID", "autoWidth": true },
                { "data": "BoardgameName", "name": "BoardgameName", "autoWidth": true },
                {
                    "render": function (data, type, full, meta) {
                        return '<a href="' + '@Url.Action("EditGame","Home")' + '?boardgameID=' + full.ID + '">Edit</a>';
                    }
                },
                {
                    "render": function (data, type, full, meta) {
                        return '<a href="' + '@Url.Action("DeleteGame","Home")' + '?boardgameID=' + full.ID + '">Delete</a>';
                    }
                },
                {
                    "render": function (data, type, full, meta) {
                        return '<a href="' + '@Url.Action("GameDetails","Home")' + '?boardgameID=' + full.ID + '">Details</a>';
                    }
                }
            ]
        })
    });


</script>